.Menu {
    width: 25vw;
    float: left;
    height: 80vh;
    border-radius: 25px;
    // border: 2px solid rgb(80, 80, 95);
    background: rgb(152, 175, 184);
    box-sizing: border-box;
    margin: 50px 25px 0px 0px;
}