.Page {
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 39, 30);
}

.Navbar {
    text-align: center;
    background-color: #222;
    height: 50px;
    padding: 5px;
    color: white;
  }